<div class="container">

    <section class="section_1">
        <div>
            <p>Nom alerte</p>
            <p><b>Nom alerte</b></p>
        </div>
        <div>
            <p>10 Decembre 2021</p>
            <p><b>10 Decembre 2021</b></p>
        </div>
        <div>
            <p>Urgent</p>
            <p><b style="color: crimson;">Urgent</b></p>
        </div>
        <div>
            <p>Destinataires</p>
            <p><b>Hassmar</b></p>
            <p><b>Police National</b></p>
            <p><b>Marine National</b></p>
            <p><b>Direction des Douane</b></p>
            <p><b>Sapeur pompier</b></p>
        </div>
        <div>
            <p>Position</p>
            <p><b>Latitude 14,68°</b></p>
            <p><b>Longitude 14,68°</b></p>

        </div>
    </section>
    <div class="section-content">
        <div>
            <section class="section_2">
                <div class="titre">
                    <h3>Actions</h3>
                </div>
                <div class="titre_2">
                    <p>Intitulé Opération 12 Décembre 2020</p>
                </div>
                <section class="section_3">
                    <div class="date">
                        <p class="p1">12/12/2020</p>
                        <p class="p2">12/12/2020</p>
                        <p class="p3">12/12/2020</p>
                        <p class="p4">12/12/2020</p>
                    </div>
                    <div class="para2">
                        <div>
                            <p><b>Khadija FAYE</b> 10:15</p>
                            <p>At vero eos et accusamus et iusto odio <br> dignissimos ducimus qui blanditiis praesentium<br> voluptatum deleniti atque corrupti quos dolores <br>et quas molestias excepturi sint occaecati cupiditate non provident,<br> similique
                                sunt in culpa qui officia deserunt mollitia animi,<br> id est laborum et dolorum fuga.<br> Et harum quidem rerum facilis est et expedita distinctio</p>
                        </div>
                        <div>
                            <p><b>Khadija FAYE</b> 10:15</p>
                            <p>At vero eos et accusamus et iusto odio dignissimos</p>
                        </div>

                        <div>
                            <p><b>Khadija FAYE</b> 10:15</p>
                            <p>At vero eos et accusamus et iusto odio dignissimos</p>
                        </div>

                        <div>
                            <img src="../../assets/anbulance.jfif" alt="" width="400px" height="200px">
                        </div>
                        <div>
                            <p><b>Khadija FAYE</b> 10:15</p>
                            <p>At vero eos et accusamus et iusto odio dignissimos</p>
                        </div>
                        <div>
                            <form action="#">
                                <label for="action">Action</label>
                                <textarea name="action" id="action" cols="30" rows="5" placeholder="Ecrivez votre commentaire"></textarea>
                                <input type="file"><br>
                                <button class="btn btn-info text-center">Envoyer</button>
                            </form>
                        </div>
                    </div>

                </section>

            </section>
        </div>
        <div>
            <section class="section_4">
                <div class="titre">
                    <h3>Liste des participants</h3>
                </div>
                <div class="participant">
                    <p>Issa SOUMARÉ (HASSMAR)</p>
                    <p>Khadija FAYE (Police Nationale)</p>
                    <p>Mamadou SAMB (Marine Nationale)</p>
                    <p>Abdoulaye BA (Direction des Douanes)</p>
                    <p>Pierre MENDY (Sapeurs Pompiers)</p>
                    <a routerLink="/registration"> <button class=" btn btn-info ">Nouvelle invitation</button></a>
                </div>
            </section>
        </div>
    </div>
</div>