<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hassmar</title>
</head>

<body>
    <div class="container-fluid bg-info fixed-top mb-2" style="width: 100%;height: 40px;"></div>
    <br>
    <div class="wrapper">

        <!-- Preloader -->

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->

                <!-- SidebarSearch Form -->

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="nav-icon far fa-archive"></i>
                                <p>
                                    Mes fichiers
                                    <span class="badge badge-info right">2</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/alertes" class="nav-link">
                                <i class="nav-icon far fa-bell"></i>
                                <p>
                                    Alertes
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/operation" class="nav-link">
                                <i class="nav-icon fas fa-align-justify"></i>
                                <p>
                                    Opérations
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Dashboard</h1>
                        </div>
                        <!-- Nave top -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="nav-item">
                                    <a class="nav-link" *ngIf="loginbtn" routerLink="login" routerLinkActive="active">Connexion</a>
                                </li>
                                <li class="nav-item">
                                    <button type="button" *ngIf="logoutbtn" class="btn btn-block" (click)="logout()">Se déconnecter</button>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" *ngIf="loginbtn" routerLink="registration" routerLinkActive="active">Inscription</a>
                                </li>
                            </ol>
                        </div>
                    </div>

                </div>

            </div>

            <section class="content">
                <div class="container-fluid">

                    <router-outlet></router-outlet>

                </div>

            </section>

        </div>

    </div>
</body>

</html>